NODE_ENV=development

POSTGRES_USER=earnify
POSTGRES_PASSWORD=earnify
POSTGRES_DB=earnify
POSTGRES_PORT=5433

DATABASE_URL=postgresql://earnify:earnify@localhost:5433/earnify?schema=public
DIRECT_URL=postgresql://earnify:earnify@localhost:5433/earnify?schema=public
REDIS_URL=redis://localhost:6379

API_PORT=4000
WEB_PORT=3000
NEXT_PUBLIC_API_URL=http://localhost:4000/api

